@import '../assets/css/mixins.scss';

.calendar {
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    &__month {
        padding: 4px 0 16px;
        text-align: center;
        @include typography(dark-grey-blue, 1.25rem, 1.5rem, 600);
    }

    &__body-wrapper {
        position: relative;
        padding-bottom: 100%;
        display: grid; /*not sure why this is necessary for Safari, but it is*/
    }

    &__body {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid: repeat(7, 1fr) / repeat(7, 1fr);
        place-items: stretch;
    }

    &__cell {
        display: flex;
        justify-content: center;
        align-items: center;
        @include typography(dark-grey-blue, 1rem, 1.25, normal, 'Source Sans Pro');

        &_day-name {
            @include typography(light-grey-blue, .875rem, 1.25);
        }

        &_selected {
            background-color: rgba(160, 177, 245, .2);
        }

        &_selection-edge {
            color: var(--white);
            background-color: var(--light-blue);
        }
    }

    &_preview {
        width: 230px;
        box-sizing: border-box;
    }

    &_preview &__cell {
        font-size: .7rem;
    }

    &_preview &__body-wrapper {
        padding-bottom: calc(6 / 7 * 100%);
    }

    &_preview &__body {
        grid-auto-rows: auto;
        grid-template-rows: none;
    }
}
