.component-area {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  overflow: hidden;

  @media all and (min-width: 768px) {
    box-shadow: 0 2px 4px rgba(var(--black-components), .05);
    border-radius: .75rem;
  }

  &__container {
    padding: 0 1rem;

    &_code {
      padding: 1rem;
    }

    &_tooltip {
      margin: 4rem 4.5rem 0;
    }

    @media all and (min-width: 768px) {
      padding: 0 3rem;

      &_code {
        padding: 3rem;
      }
    }
  }

  &__title {
    padding: 2rem 0;
    @include typography(grey-4, 1.25rem, 1.3);

    @media all and (min-width: 768px) {
      font-size: 1.75rem;
      line-height: 2.375rem;
    }
  }

  &__presentation {
    padding: 0 0 3.25rem;

    @media all and (min-width: 768px) {
      padding: 1.5rem 0 4rem;
    }
  }

  &__pre {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    background-color: var(--white);
    overflow-x: auto;
  }

  &__code {
    border: none;
    background-color: var(--white);
  }
}