@import '../assets/css/mixins.scss';

.footer {
    padding: 4.5rem 0 8.5rem;

    &_white {
        background-color: var(--white);
    }

    &_alternative {
        padding: 2rem 0;

        @media all and (min-width: 768px) {
            padding: 3.5rem 0;
        }
    }

    &__caption {
        text-align: center;
        padding-bottom: 1.5rem;
        @include typography(black, 2.375rem, 3rem, 500);
    }

    &__description {
        max-width: 40rem;
        margin: 0 auto;
        text-align: center;
        @include typography();

        &_alternative {
            text-transform: uppercase;
            color: var(--grey-3);
        }
    }
}