.header-shapes {
    display: flex;

    &__shape {
        margin-right: .5rem;
    }

    &__square,
    &__round {
        height: 2rem;
        width: 2rem;
        background-color: var(--black);
    }

    &__round {
        border-radius: 50%;
    }

    &__triangle {
        height: 0;
        margin-right: 0;
        border: 1rem solid transparent;
        border-bottom-color: var(--black);
        border-left-color: var(--black);
    }
}
