@import '../assets/css/mixins.scss';

.header {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;

    @media all and (min-width: 768px) {
        padding: 0;
    }

    &_white {
        background-color: var(--white);
    }

    &__top-line {
        display: flex;
        align-items: center;
        padding: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background-color: var(--grey-0);

        .header_white & {
            background-color: var(--white);
        }

        @media all and (min-width: 768px) {
            margin-left: 0;
            padding: 1rem 0;
            position: initial;
        }
    }

    &__burger-menu-icon {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;
        border-radius: 50%;

        @media all and (min-width: 768px) {
            display: none !important;
        }

        &_with-background {
            background-color: var(--grey-2);
        }
    }

    &__shapes {
        margin: 0 auto;

        @media all and (min-width: 768px) {
            margin-left: 0;
        }

        &-svg {
            display: block;
        }
    }

    &__menu {
        margin-right: 3.5rem;
        display: none;

        @media all and (min-width: 768px) {
            display: block;
        }
    }

    & &__theme-switch {
        display: none;

        @media all and (min-width: 768px) {
            display: flex;
        }
    }

    &__title {
        padding: 1rem 0 2rem;
        @include typography(black, 1.75rem, 2.375rem);

        @media all and (min-width: 768px) {
            padding: 1.5rem 0 2.5rem;
            font-size: 3.125rem;
            line-height: 4rem;
            font-weight: 500;
        }
    }
}