@import '../assets/css/mixins.scss';

.radio {
    display: inline-flex;
    align-items: center;

    &__input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &__label {
        margin-left: .75rem;
        @include typography(grey-4);

        .radio__input:disabled ~ & {
            color: var(--grey-2);
        }

        .radio__input:focus ~ &,
        .radio__control:active ~ & {
            text-decoration: underline;
        }
    }

    &__control {
        display: inline-flex;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        border: 1px solid var(--grey-2);
        background-color: var(--white);
        box-sizing: border-box;
        cursor: pointer;

        &::before {
            content: '';
            width: 1.125rem;
            height: 1.125rem;
            margin: auto;
            border-radius: 50%;
        }

        .radio__input:checked ~ & {
            border-width: 2px;
            border-color: var(--light-blue);

            &::before {
                background-color: var(--light-blue);
            }
        }

        .radio__input:disabled ~ & {
            background-color: var(--grey-2);
            pointer-events: none;
        }

        .radio__input:focus ~ &,
        &:active {
            box-shadow: 0 .25rem .5rem rgba(var(--black-components), .2);
        }
    }
}
