@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black-components: 33, 36, 41;
    --black: rgb(var(--black-components));
    --pink: #F784AD;
    --purple: #7048E8;
    --dark-purple: #5028C6;
    --blue: #374FC7;
    --dark-blue: #2342C0;
    --light-blue: #4263EB;
    --blue-shadow: 51, 154, 240;
    --red: #F03D3E;
    --red-shadow: 240, 61, 62;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: 196, 196, 196;
    --light-grey-blue: #90A0B7;
    --dark-grey-blue: #334D6E;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --primary-active: var(--dark-blue);
    --secondary: var(--purple);
    --secondary-active: var(--dark-purple);
}

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}