.radio {
    display: inline-flex;
    align-items: center;
}

.radio__input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.radio__label {
    margin-left: .75rem;
    color: var(--grey-4);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5;
}

.radio__input:disabled ~ .radio__label {
    color: var(--grey-2);
}

.radio__input:focus ~ .radio__label,
.radio__control:active ~ .radio__label {
    text-decoration: underline;
}

.radio__control {
    display: inline-flex;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: 1px solid var(--grey-2);
    background-color: var(--white);
    box-sizing: border-box;
    cursor: pointer;
}

.radio__control::before {
    content: '';
    width: 1.125rem;
    height: 1.125rem;
    margin: auto;
    border-radius: 50%;
}

.radio__input:checked ~ .radio__control {
    border-width: 2px;
    border-color: var(--light-blue);
}

.radio__input:checked ~ .radio__control::before {
    background-color: var(--light-blue);
}

.radio__input:disabled ~ .radio__control {
    background-color: var(--grey-2);
    pointer-events: none;
}

.radio__input:focus ~ .radio__control,
.radio__control:active {
    box-shadow: 0 .25rem .5rem rgba(var(--black-components), 0.2);
}
